# PostgreSQL
DB_USER=postgres
DB_PASSWORD=mysecretpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hw12_db

# Безпека та JWT токени
SECRET_KEY=supersecretkey_change_me_in_production_1234567890
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
VERIFICATION_TOKEN_EXPIRE_MINUTES=1440

# Поштовий сервер (FastAPI-Mail через Mailpit)
MAIL_SERVER=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@contacts.example.com
MAIL_FROM_NAME="Contacts REST API"
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
MAIL_USE_CREDENTIALS=False
MAIL_VALIDATE_CERTS=False

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CACHE_EXPIRE_MINUTES=2

# JWT Refresh Token
REFRESH_TOKEN_EXPIRE_DAYS=1

# Cloudinary
CLOUDINARY_NAME=aapxwznr
CLOUDINARY_API_KEY=399475985699759
CLOUDINARY_API_SECRET=TsYpK079_M2xRSauWt8k6IhgJX4

# Дебаг
DEBUG_MODE_ENABLED=True
DEBUG_SHOW_TOKEN_IN_LOGS=True
MAIL_SIMULATE=False
